<div class="column is-one-fifth">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content has-text-centered">
                  
                    <form action="/song/{{this.id}}/{{this.accountId}}" method="get">
                      <input type="hidden" name="playlistName" value="{{this.playlistname}}">
                      <button class="button is-white" type="submit" >{{this.playlistname}}</button>
                    </form>

                    <div class="columns is-multiline mt-3">
                      <div class="column">
                          <form action="/playlist/update/{{this.id}}" method="get">
                      <input type="hidden" name="isPublic" value={{this.isPublic}}>
                      <button class="btn btn-outline-primary col-sm-6 button is-link" type="submit" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </form>
                      </div>
                      <div class="column">
                        <form action="/playlist/delete/{{this.id}}" method="post">
                      <button class="btn btn-outline-primary col-sm-6 button is-danger" type="submit" ><i class="fa fa-trash-o" aria-hidden="true"></i></button>

                    </form>
                      </div>

                    </div>
                    
                    
                  </div>
                </div>
              </div>