{{> header}}

<div class="tile is-ancestor">
  {{#if isLoggedIn}}
    {{> accountMenu}}
  {{/if}}
  <div class="tile is-vertical is-10 " id="contentOverview">

      <div class="tile is-parent">
        <div class="tile is-child">
           
              
                <div class="is-mobile box">    
                    <h1 class="title is-3">Songs {{#if showArtistName}} by {{showArtistName}} {{/if}}</h1>


                   {{#unless songs.results}}
                    <div class="div ml-3 mb-3">
                        <p>We tried to retrieve songs from this artist from musicbrainz </p>
                        </p>but it seems like this artist doesn't exist their dataset</p>
                    </div>
                    {{/unless}} 
                  
                
                <div class="line mt-2" ></div>
                {{#each songs.results}}
                <div class="columns is-multiline is-vcentered mt-2">
                  <div class="column">
                    <p> <b>Title: </b>{{this.title}}</p>
                    <p> <b>Artist: </b>{{this.artist}}</p>

                  </div>

                  <div class="column has-text-centered">
                    
                    <div class="dropdown is-hoverable">
                          <div class="dropdown-trigger">
                              <div aria-haspopup="true" aria-controls="dropdown-menu4">           
                                  <button class="button is-white"> Add to playlist <span class="icon ml-2">
                                  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                  </span></i></button>       
                              </div>
                          </div>
                          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                              <div class="dropdown-content">
                                  {{#each ../playlists}}
                                  <div class="dropdown-item">
                                      <form action="/song/addSongToPlaylist" method="post">
                                          <input type="hidden" name="playlistId" value="{{this.id}}" />
                                          <input type="hidden" name="title" value="{{../this.title}}" />
                                          <input type="hidden" name="artist" value="{{../this.artist}}" />
                                          <input type="hidden" name="page" value="{{../../page}}" />
                                          <button class="button is-white" type="submit">{{this.playlistname}}</button>
                                      </form>  
                                  </div>
                                  {{/each}}          
                              </div>
                          </div>
                      </div>
                  </div>


                </div>
                <div class="line"></div>
                
                {{/each}}
                <a href="/playlist/songs/1"><button class="button is-danger is-rounded is-small ml-3 mt-3">Go back</button></a>
            </div>
           
        </div>
      </div>
    
  </div>
</div>
{{> footer}}