{{> header}}
<div class="tile is-ancestor">
  {{#if isLoggedIn}}
    {{> accountMenu}}
  {{/if}}
  <div class="tile is-vertical is-10 " id="contentOverview">
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child">
           
           <div class="section mr-4">
              <h1 class="title is-3">Explore</h1>
              <div class="columns is-multiline is-mobile">
                {{#each playlists}}
                  {{#ifEquals this.isPublic 1}}     
                    <div class="column is-one-fifth">  
                    <div class="card">

                    <form action="/song/{{this.id}}/{{this.accountId}}" method="get">
                      <input type="hidden" name="playlistName" value="{{this.playlistname}}">     
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content has-text-centered">
                            <button class="button is-white" type="submit" >{{this.playlistname}}</button>
                            <p>Created by: {{this.username}}</p>
                        </div>
                        </form>
                    </div>
                    </div>
                    {{/ifEquals}}
                {{/each}}
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}