{{> header}}

<div class="tile is-ancestor">
  {{#if isLoggedIn}}
    {{> accountMenu}}
  {{/if}}
  <div class="tile is-vertical is-10 " id="contentOverview">
    
      <div class="tile is-parent">
        <div class="tile is-child">
           

           
                <div class="is-mobile box">
                  <h1 class=" title is-2 mt-4">{{playlistName}}</h1>
                <div class="line"></div>
                {{#each songs}}
                <div class="columns is-vcentered  mt-2">
                  <div class="column">
                    <p> <b>Title: </b>{{this.title}}</p>
                    <p> <b>Artist: </b><a id="artistName" href="/playlist/artist/{{this.artist}}">{{this.artist}}</a></p>
                  </div>
                  <div class="column">
                    {{#if ../isOwner}}
                    <form action="/song/removeSongFromPlaylist/{{this.id}}" method="post">
                      <input type="hidden" name="playlistId" value="{{../playlistId}}">
                      <button class="button is-danger is-rounded is-small ml-3" type="submit">delete</button> 
                    </form>
                    {{/if}}
                    </div>
                </div>
                <div class="line"></div>
                {{/each}}
            </div>
           
            <div>
            </div>
        </div>
      </div>
    
  </div>
</div>
{{> footer}}