<section class="section">
<div class="level">
  <a class="level-item" href="/"><img src="/images/Brand.jpg" alt="Qlizt"/></a>
</div>
  <form action="" method="POST">
    <div class="columns is-vcentered ">
      <div class="column"></div>
      <div class="column">
        <div class="has-text-centered">
          <span class="line"></span>
          <h3 class="subtitle is-3 mt-3">  Sign up for Qlizt</h3>
        </div>
        <section class="box">
          <div class="field">
            {{#each errors}}
              <p class="has-text-centered">{{this}}</p>
              {{/each}}
            <label class="label">Username</label>
            <div class="control has-icons-right">
              <input class="input" type="text" name="username" value="{{username}}" placeholder="Create your username">
              <span class="icon is-small is-right">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">What is your emailadress</label>
            <div class="control has-icons-right">
              <input class="input" type="text" name="email" value="{{email}}" placeholder="Write your emailadress here">
              <span class="icon is-small is-right">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-right">
              <input class="input" type="password" name="password" value="{{password}}" placeholder="Create your password">
              <span class="icon is-small is-right">
                <i class="fa fa-key"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Confirm password</label>
            <div class="control has-icons-right">
              <input class="input" type="password" name="confirmationPassword" value="{{confirmationPassword}}" placeholder="Confirm your password">
              <span class="icon is-small is-right">
                <i class="fa fa-key"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="has-text-centered">
              <input class="button is-vcentered is-rounded is-outlined" type="submit" value="Sign up"></input>
            </div>
          </div>

          <div class="field">
            <span class="line"></span>
          </div>
          
          <div class="field">
            <div class="has-text-centered">
            <a href="/account/login"> Already have an account?</a>
          </div>
          </div>

          <div class="field">
            <div class="has-text-centered">
              <a class="button is-vcentered is-rounded is-outlined" href="/account/login">Log in</a>
          </div>
          </div>
        </section>
      </div>
      <div class="column"></div>
    </div>
  </form>
</section>
{{> footer}}